/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');

body {
  box-sizing: border-box;
  width: 1440px;
  background: #fff;
  height: 496px;
  padding: 36px 156px 36px 156px;
}

.feedback-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.description-title {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
}

.description-text {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #808080;
  outline: none;
  padding: 8px 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: border 300ms ease-in-out;
}

input::placeholder {
  color: #808080;
}

input:hover {
  border: 1px solid #000;
}

input:active,
input:focus {
  border: 1px solid #4e75ff;
}

button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  transition: background 300ms ease-in-out;
}

button:hover,
button:active,
button:focus {
  background: #6c8cff;
}

button:disabled {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 24px;
  margin-bottom: 32px;
}

.gallery-item {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 260px;
  transition: scale 250ms ease-in-out;
}

.gallery-item:hover,
.gallery-item:focus {
  scale: 110%;
}

.description-list {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding: 8px;
}

.description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  object-fit: cover;
  width: 360px;
  height: 200px;
}

.wrap-loader {
  width: 300px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loader-text {
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.loader {
  color: #110f0f;
  font-size: 15px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

.button-load-more {
  display: block;
  margin: 0 auto 20px;
}

.wrap-loader-more {
  width: 300px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
